/* Custom Theme */
$color-brand: #839788;
$color-brand-light: #a2b1a6;
$color-brand-dark: #69796d;

@import "~taro-ui/dist/style/components/tab-bar.scss";
@import "~taro-ui/dist/style/components/badge.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/calendar.scss";
@import "~taro-ui/dist/style/components/float-layout.scss";